<!-- /snippets/product-tabs.liquid -->

{% comment %} 
{%-if section.settings.enable_description_tabs -%}
  {%- assign product_description_content = product_description_content | split: '<h6>' | first -%}
{%- endif -%} {% endcomment %}

{%- assign product_description_split = product.description | split: '<p>[split]</p>' -%}

<div class="product__description rte" itemprop="description" class="rte">
    <div class="product__description--tabs_container">
      <h6 class="tabs__title active" data-id="1">Description</h6>
      <h6 class="tabs__title" data-id="2">Details</h6>
      <h6 class="tabs__title" data-id="3">FAQ`s</h6>
    </div>
    <div id="product-description">
      {%- for item in product_description_split -%}
        {%- if forloop.index == 1 -%}
        <div class="product-description active" id="des1">
        {%- else -%}
        <div class="product-description " id="des{{forloop.index}}">
        {%- endif -%}          
          {{ item }}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  .product-description {
    display: none;
  }
  
  .product-description.active {
  	display: block;
  }
  
</style>

<script>
  $('.tabs__title').click(function(){
    let idTabs = $(this).data("id")
    $(".tabs__title, .product-description").removeClass('active');
    $(".product-description#des"+idTabs).addClass("active");
    $(this).addClass('active');
  });
</script>