{% if product.variants.size > 1 %}<div class="swatches-globo--list" globo-product-swatch-id={{product.id}}>
  <div class="swatches-globo" product-swatch-id={{product.id}}></div>
  <div data-id="{{product.id}}" class="GWS-product-item" style="display:none;">
  	{{product | json}}  </div>
</div>
{% endif %}