<div class="page-width">
    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol>
        <div>
          <a href="/" title="Home">Home</a> 
        </div>
        <div>/</div>
        <div>
          <a href="/collections/all" title="Shop">SHOP</a> 
        </div>
        <div>/</div>

        <div>
          <span class="currentBreadcrumps">{{page_title }}</span>
        </div>
      </ol>
    </nav>
</div>

<div class="page-width">
    <header class="section-header text-center">
        <h2 class="section-header__title h2">Ready-to-Wear Hair Extensions</h2>
    </header>
    <div class="grid__product">
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
    </div>
</div>

<div class="page-width">
    <header class="section-header text-center">
        <h2 class="section-header__title h2">Professional Hair Extensions</h2>
    </header>
    <div class="grid__product">
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
    </div>
</div>

<div class="page-width">
    <header class="section-header text-center">
        <h2 class="section-header__title h2">Tools & Supply</h2>
    </header>
    <div class="grid__product">
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
    </div>
</div>

<div class="page-width">
    <header class="section-header text-center">
        <h2 class="section-header__title h2">CH_Transformation</h2>
    </header>
    <div class="grid__product">
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
        <iframe src="//www.youtube.com/embed/SjiLJUqC1YY?rel=0&amp;showinfo=0&amp;vq=720" allowfullscreen="" width="30%" height=250  frameborder="0"></iframe>
    </div>
</div>